
{% extends "layout.html" %}
{% block content %}

<br>
  <table width="100%" align="center">
    <tr>
      <td width="60%" style="text-align:right"><span class="float-left"><a href="/subscriptions" class="btn btn-outline-dark">Retour List</a></span></td>
      <td width="40%"  style="text-align:right"> 
        
      </td>
    </tr>
  </table>


<br>
    <div class="card  " >
        <div class="card-header text-white bg-info">
          Abonnement N° {{subscription.id}} - De : {{subscription.customer_name}} - Catégorie : {{subscription.category}} 
          {% if subscription.nb_shipments < 1 %}
            <span class="right"><a href="/subscriptions/generate/{{ subscription.id }}" class="btn btn-outline-dark">Générer livraisons/commandes</a></span>
          {% else %}
            <span class="right"><a href="/subscriptions/delete_shipments/{{ subscription.id }}" class="btn btn-outline-dark">Effacer toutes les livraisons/commandes</a></span>
          {% endif %}
        </div>
        <div class="card-body">
          
          <ul class="list-group list-group-flush">
          {% set total = {'value': 0.00} %}

          <li class="list-group-item bg-light">
            Vendeur : <b>{{subscription.seller_name}}</b>
            <span class="right"><a href="/subscriptions/new?subscription_id={{ subscription.id }}" class="btn btn-outline-dark">Dupliquer l'abonnement</a></span>
          </li>
          <li class="list-group-item">
            Jour de la semaine:
            <table align="center" class="table table-striped">
            <thead>
              <tr>
                <th scope="col"><a href="/subscriptions/{{subscription.id}}/weekdays/1" class="btn btn-outline-dark">Lundi</a></th>
                <th scope="col"><a href="/subscriptions/{{subscription.id}}/weekdays/2" class="btn btn-outline-dark">Mardi</a></th>
                <th scope="col"><a href="/subscriptions/{{subscription.id}}/weekdays/3" class="btn btn-outline-dark">Mercredi</a></th>
                <th scope="col"><a href="/subscriptions/{{subscription.id}}/weekdays/4" class="btn btn-outline-dark">Jeudi</a></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td valign="center">nb articles : {{subscription.days[0].nb_products}} <br> livraison : {{subscription.days[0].shipping_price}} <br> prix : {{subscription.days[0].price}} </td>
                <td valign="center">nb articles : {{subscription.days[1].nb_products}} <br> livraison : {{subscription.days[1].shipping_price}} <br> prix :
                {{subscription.days[1].price}}</td>
                <td valign="center">nb articles : {{subscription.days[2].nb_products}} <br> livraison : {{subscription.days[2].shipping_price}} <br> prix :
                {{subscription.days[2].price}}</td>
                <td valign="center">nb articles : {{subscription.days[3].nb_products}} <br> livraison : {{subscription.days[3].shipping_price}} <br> prix :
                {{subscription.days[3].price}}</td>
              </tr>
              <tr>
                <td scope="col"><a href="/subscriptions/{{subscription.id}}/weekdays/5" class="btn btn-outline-dark">Vendredi</a></td>
                <td scope="col"><a href="/subscriptions/{{subscription.id}}/weekdays/6" class="btn btn-outline-dark">Samedi</a></td>
                <td scope="col"><a href="/subscriptions/{{subscription.id}}/weekdays/7" class="btn btn-outline-dark">Dimanche</a></td>
                <td></td>
              </tr>
              <tr>
                <td valign="center">nb articles : {{subscription.days[4].nb_products}} <br> livraison : {{subscription.days[4].shipping_price}} <br> prix :
                {{subscription.days[4].price}}</td>
                <td valign="center">nb articles : {{subscription.days[5].nb_products}} <br> livraison : {{subscription.days[5].shipping_price}} <br> prix :
                {{subscription.days[5].price}}</td>
                <td valign="center">nb articles : {{subscription.days[6].nb_products}} <br> livraison : {{subscription.days[6].shipping_price}} <br> prix :
                {{subscription.days[6].price}}</td>
                <td></td>
              </tr>
          </tbody>
          </table>
          </li>

          <li class="list-group-item">
                <b><span >Nb articles de l'abonnement: {{subscription.nb_products}}
                  <span class="right"><a href="/subscriptions/calculation/{{ subscription.id }}" class="btn btn-outline-dark">Recalculer l'abonnement</a></span>
          </li>
          <li class="list-group-item">
                <b><span >Prix des livraisons pour l'abonnement : {{ "%.2f"|format(subscription.shipping_price|float) }} €</span></b>
                <br>
                <br>
                <p><b>Nombres total de Livraisons : </b> {{subscription.nb_shipments}}</p>
                <p><b>Nombres total de commandes : </b> {{subscription.nb_orders}}</p>
          </li>
        </ul>
        </div>
      </div>
      <span class="right"><a href="/shipments/new?subscription_id={{ subscription.id }}" class="btn btn-outline-dark">Ajouter une livraison à l'abonnement</a></span>
        <shipment-list subscription_id='{{subscription.id}}'></shipment-list>
      
      <br>
        <div class="card">
          <div class="card-header text-white bg-info">
            Suppression <span class="float-right"><a href="/subscriptions/delete/{{ subscription.id }}" class="btn btn-light text-danger" alt="Supprimer"><i class="fas fa-trash-alt"></i></a></span>
          </div>
        </div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='tag/subscriptions/shipment_list.tag') }}" type="riot/tag"></script>
<script>
  riot.mount("shipment-list");
</script>
{% endblock %}

