
{% extends "layout.html" %}
{% block content %}

<br>
  <table width="100%" align="center">
    <tr>
      <td width="60%" style="text-align:right"><span class="float-left"><a href="/customer/subscriptions/{{ subscription_day.subscription }}" class="btn btn-outline-dark">Retour List</a></span>Changer le statut : </td>
      <td width="40%"  style="text-align:right">
      </td>
    </tr>
  </table>


<br>
  <form method="POST" id="subscription_form" action="" style="display: inline;">
    {{ form.hidden_tag() }}

    <div class="card  ">
      <div class="card-header text-white bg-info">
        Abonnement N° {{subscription_day.subscription}} du client : {{subscription_day.customer_name}}
      </div>
      <div class="card-body">
        <p>
          <b>Vendeur : {{subscription_day.seller_name}}</b>
        </p>
          <li class="list-group-item">

            <table align="center" class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Produit</th>
                  <th scope="col">Vendeur</th>
                  <th scope="col">Quantité</th>
                  <th scope="col">Prix</th>
                </tr>
              </thead>
              <tbody>
                {% for line in subscription_day.lines %}
                <tr>
                  <td valign="center">{{line.product_name}}</td>
                  <td valign="center">{{line.seller_name}}</td>
                  <td valign="center">x {{line.quantity}}</td>
                  <td valign="center">{{line.price}} €</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </li>

      </div>
    </div>
  {%if subscription_day.lines | length == 0 %}
  {%endif%}

      <br>
    <div class="card">
      
    </div>
  </form>



{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='tag/subscriptions/seller_product_lines.tag') }}" type="riot/tag"></script>
<script type="text/javascript">
  riot.mount("seller-product-line");
</script>
{% endblock %}
