
{% extends "layout.html" %}
{% block content %}

<br>
  <table width="100%" align="center">
    <tr>
      <td width="60%" style="text-align:right"><span class="float-left"><a href="/customer/subscriptions" class="btn btn-outline-dark">Retour List</a></span></td>
      <td width="40%"  style="text-align:right"> 
        
      </td>
    </tr>
  </table>


<br>
    <div class="card  " >
        <div class="card-header text-white bg-info">
          Abonnement N° {{subscription.id}} - De : {{subscription.customer_name}} - Catégorie : {{subscription.category}} 
        </div>
        <div class="card-body">
          
          <ul class="list-group list-group-flush">
          {% set total = {'value': 0.00} %}

          <li class="list-group-item bg-light">
            Vendeur : <b>{{subscription.seller_name}}</b>
          </li>
          <li class="list-group-item">
            <h5>Jour de la semaine: </h5>
            <div class="row">
            {% for index in range(7) %}
              <div class="card border-dark bg-light shadow-sm col-sm-3 m-2" style="text-align:center; padding-left:0;padding-right: 0;">
                <div class="card-header">
                  <h5>{{week_days[index]}}</h5>
                </div>
                <div class="card-body" style="text-align:left">
                  <table class="table table-responsive-sm">
                    <tbody>
                      <tr width="20px">
                        <td><b>Prix Livraison :</b></td><td>{{subscription.days[index].shipping_price}}€</td>
                      </tr>
                      <tr>
                        <td><b>Nb Articles :</b></td><td>x{{subscription.days[index].nb_products}}</td>
                      </tr>
                      <tr>
                        <td><b>Prix Panier:</b></td><td>{{ "%.2f"|format((subscription.days[index].price|float) * 0.8|float)}}€</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="card-footer" style="text-align:center">
                  <a href="/customer/subscriptions/{{subscription.id}}/weekdays/{{index+1}}" class="btn btn-primary">Détails</a>
                </div>
              </div>
            {% endfor %}
            </div>
          </li>

          <li class="list-group-item">
                <b>Nb articles de l'abonnement: {{subscription.nb_products}}
          </li>
          <li class="list-group-item">
                <b><span >Prix des livraisons pour l'abonnement : {{ "%.2f"|format(subscription.shipping_price|float) }} €</span></b>
                <br>
                <br>
                <p><b>Nombres total de Livraisons : </b> {{subscription.nb_shipments}}</p>
                <p><b>Nombres total de commandes : </b> {{subscription.nb_orders}}</p>
          </li>
        </ul>
        </div>
      </div>
        <shipment-list subscription_id='{{subscription.id}}'></shipment-list>
      
      <br>
        </div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='tag/customer/subscriptions/shipment_list.tag') }}" type="riot/tag"></script>
<script>
  riot.mount("shipment-list");
</script>
{% endblock %}

