html, body {
  height: 100%;
}

html {
    display: table;
    margin: auto;
    background: url('/static/img/back_baguettes.jpg') center center / cover no-repeat fixed;
}

@media only screen and (max-width: 700px) {
  #nocanceled{
    display: none;
  }
  #nopaid{
    display: none;
  }
  #paymentModal{
    display: none;
  }
  #cancelModal{
    display: none;
  }
  #undoModal{
    display: none;
  }
  body {
    vertical-align: middle;  
    background: #343A40;
    color: #333333;
    margin-top: 0rem;
  }

  #table_title_site{
    display: none;
  }
  #table_site{
    display: none;
  }

}


@media only screen and (min-width: 700px) {
  body {
    vertical-align: middle;  
    background: #343A40;
    color: #333333;
    margin-top: 0rem;
    min-width: 800px;
  }
  
  #table_title_mobile{
    display: none;
  }
  
  #table_mobile{
    display: none;
  }
}

.container {
  margin-left: 0px;
  min-height: 500px;
  min-width: 400px;
  background: #ffffff;
}
footer {
    position:relative;
    bottom:0;
    width:100%;
    height:100%;
    background: #343A40;
}
h1, h2, h3, h4, h5, h6 {
    color:#444444;
}
a.notif {
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
  background: url('/static/img/event.png');
  background-size: contain;
  text-decoration: none;
}


.notification_count
{
padding: 3px 7px 3px 7px;
background: #cc0000;
color: #ffffff;
font-weight: bold;
right: 11px;
top: 6px;
/*margin-left: 77px;*/
border-radius: 9px;
-moz-border-radius: 9px;
-webkit-border-radius: 9px;
/*position: absolute;
margin-top: -11px;*/
font-size: 11px;
}

.num {
  position: absolute;
  right: 11px;
  top: 6px;
  color: #fff;
}

.right {
    text-align: right;
    float: right;
}

/***************************************   SLIDER BEGIN ******************************/

 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 
/***************************************   SLIDER END ******************************/