body {
    background: #fafafa;
    color: #333333;
    margin-top: 0rem;
}
.container {
  min-height: 600px;
}
footer {
    position:relative;
    bottom:0;
    width:100%;
    height:100px;   /* Height of the footer */
    color: #ffffff;
    padding:10px;
    a.nav-footer:link, a.nav-footer:visited {                      color: white !important; }

}
h1, h2, h3, h4, h5, h6 {
    color:#444444;
}
a.notif {
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
  background: url('/static/img/event.png');
  background-size: contain;
  text-decoration: none;
}


.notification_count
{
padding: 3px 7px 3px 7px;
background: #cc0000;
color: #ffffff;
font-weight: bold;
right: 11px;
top: 6px;
/*margin-left: 77px;*/
border-radius: 9px;
-moz-border-radius: 9px;
-webkit-border-radius: 9px;
/*position: absolute;
margin-top: -11px;*/
font-size: 11px;
}

.num {
  position: absolute;
  right: 11px;
  top: 6px;
  color: #fff;
}

.right {
    text-align: right;
    float: right;
}