html, body {
  height: 100%;
}

html {
    display: table;
    margin: auto;
    background: url('/static/img/back_baguettes.jpg') center center / cover no-repeat fixed;
}

@media only screen and (min-width: 600px) {
  body {
    vertical-align: middle;  
    background: #343A40;
    color: #333333;
    margin-top: 0rem;
    min-width: 800px;

    /*background-image: url('/static/img/back_baguettes.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;*/
  }
}
@media only screen and (max-width: 600px) {
  body {
    vertical-align: middle;  
    background: #343A40;
    color: #333333;
    /*
    background-image: url('/static/img/back_baguettes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;*/

    margin-top: 0rem;
  }
}

.container {
  margin-left: 0px;
  min-height: 500px;
  min-width: 400px;
  background: #ffffff;
}
footer {
    position:relative;
    bottom:0;
    width:100%;
    height:100%;
    background: #343A40;
}
h1, h2, h3, h4, h5, h6 {
    color:#444444;
}
a.notif {
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
  background: url('/static/img/event.png');
  background-size: contain;
  text-decoration: none;
}


.notification_count
{
padding: 3px 7px 3px 7px;
background: #cc0000;
color: #ffffff;
font-weight: bold;
right: 11px;
top: 6px;
/*margin-left: 77px;*/
border-radius: 9px;
-moz-border-radius: 9px;
-webkit-border-radius: 9px;
/*position: absolute;
margin-top: -11px;*/
font-size: 11px;
}

.num {
  position: absolute;
  right: 11px;
  top: 6px;
  color: #fff;
}

.right {
    text-align: right;
    float: right;
}
