Flask
Flask-wtf
Flask-restful
Flask-bootstrap
Flask-Nav
Flask-script
Flask-sqlalchemy
Flask-marshmallow
flask-login
Flask-Testing==0.4.2
flasgger
uwsgi
marshmallow-sqlalchemy

Requests
Jinja2
MarkupSafe
Werkzeug==0.16.1
docopt
itsdangerous
records
tablib
aenum

codecov
coverage
factory_boy
wemake-python-styleguide
