Flask
Flask-wtf
Flask-restful
Flask-bootstrap
Flask-Nav
Flask-script
Flask-sqlalchemy
flask-login
flask_sslify
Flask-Testing==0.4.2

Requests
Jinja2
MarkupSafe
Werkzeug
docopt
itsdangerous
records
tablib
pyopenssl
aenum
