{% extends "layout.html" %}
{% block content %}

    {% set month = cal[0] %}
    {% set current_month = month_param %}

    <style type="text/css"><!--
        td.past-month {
            color: rgb(187, 187, 187);
        }
        td.filled-day {
            color: #e70909;
            background: #f3d2c9;
        }
        th {
            color: #fafbfc;
            background: rgb(11, 4, 77)
        }
    </style>
     <div class="form-group">
        Choix du client :<br>

        <select class="form-control" id="customer_id" name="customer_id" style="width: 18rem; display:inline-block" >
            {% if customer.id == 0 %}
                <option value="0" SELECTED>Tous</option>
            {% else %}
            <option value="0">Tous</option>
            {% endif %}
            {% for cust in customers %}               
                {% if cust.id == customer.id %}
                    <option value="{{ cust.id }}" SELECTED>{{ cust.firstname }} {{ cust.lastname }}</option>
                {% else %}
                    <option value="{{ cust.id }}">{{ cust.firstname }} {{ cust.lastname }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <select class="form-control" id="month_num" name="month_num" style="width: 8rem; display:inline-block" >
            {% set months_tab = ['', 'Janvier', 'Février', 'Mars', 'Avril',
            'Mai', 'Juin', 'Juillet', 'Août',
            'Septembre', 'Octobre', 'Novembre', 'Décembre'] %}
            {% for month_item in range (1,13)  %}
                {% if month_item == (current_month | int) %}
                    <option value="{{ month_item }}" SELECTED>{{ months_tab[month_item] }} </option>
                {% else %}
                    <option value="{{ month_item }}">{{ months_tab[month_item] }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <select class="form-control" id="year_num" name="year_num" style="width: 7rem; display:inline-block" >

                {% for year_item in range (2019,2022)  %}               
                    {% if year_item == (year| int) %}
                        <option value="{{ year_item }}" SELECTED>{{ year_item }} </option>
                    {% else %}
                        <option value="{{ year_item }}">{{ year_item }}</option>
                    {% endif %}
                {% endfor %}
        </select>
        <button type="button" id="more_fields" onclick="reload_by_customer();" class="btn btn-primary display:inline-block" ><i class="fa fa-search"></i></button>
    </div>


    <div id="cal">
        
        <div>
            <h5 align="center"> 
                {% if customer.id == 0 %}
                Toutes les livraisons des clients pour
                {% else %}
                Livraisons de {{customer.firstname}} {{customer.lastname}} pour 
                {% endif %}

                {{ months_tab[current_month] }} {{ year }}</h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                    <th scope="col">Lun</th>
                    <th scope="col">Mar</th>
                    <th scope="col">Mer</th>
                    <th scope="col">Jeu</th>
                    <th scope="col">Ven</th>
                    <th scope="col">Sam</th>
                    <th scope="col">Dim</th>
                    </tr>
                </thead>
                <tbody>
                {% for week in month %}
                <tr>
                    {% for date in week %}
                        {% set index = (date.day | int) * (date.month | int) %}
                        {% set customer_order_id = map_shippings[index] %}
                        
                        {% if date.month == current_month %}
                            {% if customer_order_id != null %}
                            <td class="filled-day">
                            {% else %}
                            <td class="current-month">  
                            {% endif %}         
                        {% else %}
                        <td class="past-month">
                        {% endif %}
                        
                        {{ date.day }}

                        {% if customer_order_id != null and customer.id == 0 %}
                            <p align="center"><a href="/orders/resume/year/{{ date.year }}/month/{{ date.month }}/day/{{ date.day }}" class="btn btn-danger" >D</a></p>
                        {% elif customer_order_id != null and customer.id > 0 %}
                            <p align="center"><a href="/orders/{{ customer_order_id }}" class="btn btn-danger" >L</a></p>
                        {% else %}
                            <center>-</center>
                        {% endif %}    
                        
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

   
{% endblock %}
{% block scripts %} 
<script type="text/javascript">

    function reload_by_customer() {
        var customer_id = document.getElementById('customer_id').value;
        var month_num = document.getElementById('month_num').value;
        var year_num = document.getElementById('year_num').value;
        var url = window.location.href;
        var str_customers_url =  '/customers/'; 
        last_index = url.lastIndexOf(str_customers_url);
        start_url = url.substr(0, last_index+str_customers_url.length) 
        url = start_url + customer_id + "/year/"+ year_num + "/month/" + month_num
        window.location.href = url;
                
    }
        
</script>



{% endblock %}
{% block right_menu %}
<div class="content-section">
    <h3>Menu </h3>
    <p class='text-muted'>Une commande client génère des commandes vendeur
        <ul class="list-group">
            <li class="list-group-item list-group-item-light">
                <a class="nav-link" href="/orders/new">Création</a></li>
            <li class="list-group-item list-group-item-light">
                <a class="nav-link" href="/orders/month">Mois</a></li>
            <li class="list-group-item list-group-item-light">
                <a class="nav-link" href="/orders/week">Semaine</a></li>
            <li class="list-group-item list-group-item-light">
                <a class="nav-link" href="/orders/day">Jour</a></li>
            <li class="list-group-item list-group-item-light">
                <a class="nav-link" href="/orders">Toutes</a></li>
        </ul>
    </p>
</div>


{% endblock %}


