{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="" style="display: inline;">    
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
            <legend class="=border-bottom mb-4"></legend>
            <div class="form-group">
                Titre :
                {{ form.reference(class="form-control form-control-sm") }}
            </div>
            <div class="form-group">
                Choix du client :
                <select class="form-control" name="customer_id" width="300px">
                    {% for o in customers %}
                        <option value="{{ o.id }}" SELECTED>{{ o.firstname }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                Choix de l'état de la livraison :
                <select class="form-control" name="status" width="300px">
                    {% for deliveryStatus in deliveryStatusList %}
                        {% if(deliveryStatus == "EN COURS") %}
                            <option value="{{ deliveryStatus }}" SELECTED>{{ deliveryStatus }}</option>
                        {% else %}
                            <option value="{{ deliveryStatus }}" >{{ deliveryStatus }}</option>
                        {% endif %}    
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                Saisie de la date de la livraison :
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <input type="text" name="delivery_dt" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            {% if form.errors %}
                <ul class="errors">
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <li>{{ form[field_name].label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
    </div>
{% endblock %}
{% block scripts %} 
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker(
            {format : 'YYYY-MM-DD HH:mm:ss'}
        );
    });
</script>
<script src="{{ url_for('static', filename='js/product-list.js') }}"></script>

<script src="{{ url_for('static', filename='tag/deliveries/todo.tag') }}" type="riot/tag"></script>
{% endblock %}
