{% extends "layout.html" %}
{% block content %}

    <style type="text/css"><!--
        td.past-month {
            color: rgb(187, 187, 187);
        }
        td.filled-day {
            color: #e70909;
            background: #f3d2c9;
        }
        th {
            color: #fafbfc;
            background: rgb(11, 4, 77)
        }
    </style>
     <div class="form-group">
        Choix du client :<br>

        <select class="form-control" id="customer_id" name="customer_id" style="width: 38rem; display:inline-block" >
            {% for cust in customers %}
                {% if cust.id == customer.id %}
                    <option value="{{ cust.id }}" SELECTED>{{ cust.firstname }} {{ cust.lastname }}</option>
                {% else %}
                    <option value="{{ cust.id }}">{{ cust.firstname }} {{ cust.lastname }}</option>
                {% endif %}
            {% endfor %}
        </select><button type="button" id="more_fields" onclick="reload_by_customer();" class="btn btn-primary display:inline-block" ><i class="fa fa-search"></i></button>
    </div>


    <div id="cal">
        {% set month = cal[0] %}
        {% set current_month = month_param %}
        <div>
            <h5 align="center"> {{ ['', 'January', 'Febuary', 'March', 'April',
                'Mai', 'Juin', 'July', 'August',
                'September', 'October', 'November', 'December'][month_param] }} {{ year }}</h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                    <th scope="col">Lun</th>
                    <th scope="col">Mar</th>
                    <th scope="col">Mer</th>
                    <th scope="col">Jeu</th>
                    <th scope="col">Ven</th>
                    <th scope="col">Sam</th>
                    <th scope="col">Dim</th>
                    </tr>
                </thead>
                <tbody>
                {% for week in month %}
                <tr>
                    {% for date in week %}
                        {% set index = (date.day | int) * (date.month | int) %}
                        {% set customer_order_id = map_deliveries[index] %}
                        
                        {% if date.month == current_month %}
                            {% if customer_order_id != null %}
                            <td class="filled-day">
                            {% else %}
                            <td class="current-month">  
                            {% endif %}         
                        {% else %}
                        <td class="past-month">
                        {% endif %}
                        
                        {{ date.day }}
                        {% if customer_order_id != null %}
                            <p align="center"><a href="/orders/{{ customer_order_id }}" class="btn btn-danger" >L</a></p>
                        {% else %}
                            <center>-</center>
                        {% endif %}    
                        
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

   
{% endblock %}
{% block scripts %} 
<script type="text/javascript">


/*
$(document).ready(function() { 
    $('#bootstrapModalFullCalendar').fullCalendar({
        events:[
                {
                color: '#FFBF00',
                description: '',
                start: '2019-05-05',
                title: 'All day event'
                }
            ],
        header: {
            left: '',
            center: 'prev title next',
            right: ''
        },
        eventClick:  function(event, jsEvent, view) {
            $('#modalTitle').html(event.title);
            $('#modalBody').html(event.description);
            $('#eventUrl').attr('href',event.url);
            $('#fullCalModal').modal();
        }
    });
});*/
/*    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          navLinks: true, // can click day/week names to navigate views
          selectable: true,
          selectMirror: true,
          businessHours: true,
          editable: true,
          plugins: [ 'interaction', 'dayGrid','timeGrid', 'list' ],
          events: function(info, successCallback, failureCallback) {
                req.get('http://localhost:5000/_getjs_delivery_event/customer/1')
                .type('json')
                .query({
                    start: info.start.valueOf(),
                    end: info.end.valueOf()
                })
                .end(function(err, res) {

                    if (err) {
                    failureCallback(err);
                    } else {

                    successCallback(
                        Array.prototype.slice.call( // convert to array
                        res.getElementsByTagName('event')
                        ).map(function(eventEl) {
                        return {
                            title: eventEl.getAttribute('title'),
                            start: eventEl.getAttribute('start')
                        }
                        })
                    )
                    }
                })
            },*/
          /*events: function(start, end, timezone, callback) {
            jQuery.ajax({
                    url: 'http://localhost:5000/_getjs_delivery_event/customer/1',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        // our hypothetical feed requires UNIX timestamps
                        start: start.unix(),
                        end: end.unix()
                    },
                    success: function(doc) {
                        var events = [];
                        if(!!doc.result){
                            $.map( doc.result, function( r ) {
                                events.push({
                                    id: r.id,
                                    title: r.title,
                                    start: r.date_start,
                                    end: r.date_end
                                });
                            });
                        }
                        callback(events);
                    }
                });
            },*/
   /*       events: [
            {
                title: 'All Day Event',
                start: '2019-05-01',
                color: '#FFBF00'
                //rendering: 'background'
            }],*/
     /*       eventClick:  function(event, jsEvent, view) {
                alert('ttttt')

                //set the values and open the modal

                //$("#eventInfo").html(event.description);
                //$("#eventLink").attr('href', event.url);
                //$("#eventContent").dialog({ modal: true, title: event.title });
            },
            loading: function(bool) {
                document.getElementById('loading').style.display =
                bool ? 'block' : 'none';
            }

        });

        //-$("#calendar").on("click", "td[data-event]", function() {
        //    alert('test');
        //})

        calendar.render();
      });*/

    function reload_by_customer() {
        var customer_id = document.getElementById('customer_id').value;
        var url = window.location.href;    
       // if (url.indexOf('?') > -1){
       //     url += '/'
       // }else{
       //     url += '?param=1'
       // }
       last_index = url.lastIndexOf('/');
       start_url = url.substr(0, last_index+1) 
       url = start_url + customer_id
       window.location.href = url;
                
    }
        
</script>
 <!-- Included JS Files (Uncompressed) -->
        <!--
        <script src="{{ url_for('static', filename='foundation/javascripts/modernizr.foundation.js') }}"></script>
        <script src="{{ url_for('static', filename='foundation/javascripts/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='foundation/javascripts/jquery.foundation.mediaQueryToggle.js') }}"></script>
        <script src="{{ url_for('static', filename='foundation/javascripts/jquery.foundation.reveal.js') }}"></script>
        <script src="{{ url_for('static', filename='foundation/javascripts/jquery.foundation.orbit.js') }}"></script>
        <script src="{{ url_for('static', filename='foundation/javascripts/jquery.foundation.navigation.js') }}"></script>
        <script src="{{ url_for('static', filename='foundation/javascripts/jquery.foundation.buttons.js') }}"></script>
        <script src="{{ url_for('static', filename='foundation/javascripts/jquery.foundation.tabs.js') }}"></script>
        <script src="{{ url_for('static', filename='foundation/javascripts/jquery.foundation.forms.js') }}"></script>
        <script src="{{ url_for('static', filename='foundation/javascripts/jquery.foundation.tooltips.js') }}"></script>
        <script src="{{ url_for('static', filename='foundation/javascripts/jquery.foundation.accordion.js') }}"></script>
        <script src="{{ url_for('static', filename='foundation/javascripts/jquery.placeholder.js') }}"></script>
        <script src="{{ url_for('static', filename='foundation/javascripts/jquery.foundation.alerts.js') }}"></script>
        -->
        <!-- Included JS Files (Compressed) -->
        <script src="{{ url_for('static', filename='foundation/javascripts/foundation.min.js') }}"></script>
        <!-- Initialize JS Plugins -->
        <!--<script src="{{ url_for('static', filename='foundation/javascripts/app.js') }}"></script>-->
<!--<script src="//code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js"></script>   --> 
<!--<script src="{{ url_for('static', filename='fullcalendar/core/main.js') }}"></script>
<script src="{{ url_for('static', filename='fullcalendar/daygrid/main.js') }}"></script>
<script src="{{ url_for('static', filename='fullcalendar/interaction/main.js') }}"></script>
<script src="{{ url_for('static', filename='fullcalendar/timegrid/main.js') }}"></script>
<script src="{{ url_for('static', filename='fullcalendar/list/main.js') }}"></script>-->


{% endblock %}
{% block right_menu %}
<div class="content-section">
    <h3>Menu des commandes</h3>
    <p class='text-muted'>
        <ul class="list-group">
        <li class="list-group-item list-group-item-light">
            <a class="nav-link" href="/deliveries/new">Création de livraison</a></li>
        <li class="list-group-item list-group-item-light">
            <a class="nav-link" href="/deliveries/year/0/month/0">Livraisons du mois</a></li>
        <li class="list-group-item list-group-item-light">
            <a class="nav-link" href="/deliveries/year/0/month/0/day/0">Livraisons du jour</a></li>
        </ul>
    </p>
</div>


{% endblock %}


