{% extends "layout.html" %}
{% block content %}


    <div class="card  ">
        <div class="card-header text-white bg-info">
            Client N° {{customer.id}} <span class="right"><a href="/customers/update/{{ customer.id }}" class="btn btn-outline-dark">Modifier
                    </a></span>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% set total = {'value': 0.00} %}
                <li class="list-group-item">
                    <b>Prénom Nom : </b>{{customer.firstname}} {{customer.lastname}}
                </li>
                <li class="list-group-item">
                    <b>Adresse : </b> {{customer.address}} {{customer.cp}} {{customer.city}}
                </li>
                <li class="list-group-item">
                    <b>Email : </b> {{customer.email}}
                </li>
            </ul>
        </div>
    </div>
    {%if customer.nb_subscriptions | int > 0 %}
    <subscription-list customer_id='{{customer.id}}'></subscription-list>
    {%endif%}
    <br>
    {%if customer.nb_shipments | int > 0 %}
    <shipment-list customer_id='{{customer.id}}'></shipment-list>
    {%endif%}

    <div class="card">
        <div class="card-header text-white bg-info">
            Suppression <span class="float-right"><a href="/customers/delete/{{ customer.id }}"
                    class="btn btn-light text-danger" alt="Supprimer"><i class="fas fa-trash-alt"></i></a></span>
        </div>
    </div>

{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='tag/customers/shipment_list.tag') }}" type="riot/tag"></script>
<script src="{{ url_for('static', filename='tag/customers/subscription_list.tag') }}" type="riot/tag"></script>
<script>
    riot.mount("shipment-list");
    riot.mount("subscription-list");
</script>
{% endblock %}



