{% extends "layout.html" %}
{% block content %}
  <nav class="navbar navbar-light bg-light right">
    <form class="form-inline">
      <a role="button" href="/shipments/customers/{{customer.id}}" class="btn btn-sm btn-outline-secondary display:inline-block">Livraisons</a>
      <a role="button" href="/customers/update/{{ customer.id }}" class="btn btn-sm btn-outline-secondary display:inline-block">Modifier</a>
    </form>
  </nav>
  <br/>
  <br/>
  <div class="card">
    <div class="card-header text-white bg-info">
      Client N° {{customer.id}} 
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        {% set total = {'value': 0.00} %}
        <li class="list-group-item">
          <b>Prénom Nom : </b>{{customer.firstname}} {{customer.lastname}}
        </li>
        <li class="list-group-item">
          <b>Adresse : </b> {{customer.address}} {{customer.cp}} {{customer.city}}
        </li>
        <li class="list-group-item">
          <b>Email : </b> {{customer.email}}
        </li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="col-12 card-header text-white bg-info">
      <div class="col-6" style="display: inline-block;">
        Livraisons mois en cours
      </div>
      <div class="col-5" style="display: inline-block; col-6">
        Livraisons mois dernier
      </div>
    </div>
    <div class="col-12 card-body">
      <div class="col-6" style="display: inline-block;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <b>Nbre total : </b> x{{reports['current'].shipments_count}} | {{"%.2f"|format(reports['current'].shipments_sum)}}€
          </li>
          <li class="list-group-item">
            <b>Nbre annulées: </b> x{{reports['current'].canceled_count}} | {{"%.2f"|format(reports['current'].canceled_sum)}}€
          </li>
          <li class="list-group-item">
            <b>Nbre effectives: </b> x{{reports['current'].effective_count}} | {{"%.2f"|format(reports['current'].effective_sum)}}€
          </li>
          <li class="list-group-item">
            <b>Nbre payées : </b> x{{reports['current'].paid_count}} | {{"%.2f"|format(reports['current'].paid_sum)}}€
          </li>
          <li class="list-group-item">
            <b>Nbre dans un abo. : </b> x{{reports['current'].in_sub_count}} | {{"%.2f"|format(reports['current'].in_sub_sum)}}€
          </li>
          <li class="list-group-item">
            <b>Nbre hors abo. : </b> x{{reports['current'].out_sub_count}} | {{"%.2f"|format(reports['current'].out_sub_sum)}}€
          </li>
        </ul>
      </div>
      <div class="col-5" style="display: inline-block;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <b>Nbre total : </b> {{reports['last'].shipments_count}} | {{"%.2f"|format(reports['last'].shipments_sum)}}€
          </li>
          <li class="list-group-item">
            <b>Nbre annulées: </b> x{{reports['last'].canceled_count}} | {{"%.2f"|format(reports['last'].canceled_sum)}}€
          </li>
          <li class="list-group-item">
            <b>Nbre effectives: </b> x{{reports['last'].effective_count}} | {{"%.2f"|format(reports['last'].effective_sum)}}€
          </li>
          <li class="list-group-item">
            <b>Nbre payées : </b> x{{reports['last'].paid_count}} | {{"%.2f"|format(reports['last'].paid_sum)}}€
          </li>
          <li class="list-group-item">
            <b>Nbre dans un abo. : </b> x{{reports['last'].in_sub_count}} | {{"%.2f"|format(reports['last'].in_sub_sum)}}€
          </li>
          <li class="list-group-item">
            <b>Nbre hors abo. : </b> x{{reports['last'].out_sub_count}} | {{"%.2f"|format(reports['last'].out_sub_sum)}}€
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="col-12 card-header text-white bg-info">
      <div class="col-6" style="display: inline-block;">
        Total Livraisons
      </div>
      <div class="col-5" style="display: inline-block; col-6">
        Moyenne Livraisons
      </div>
    </div>
    <div class="col-12 card-body">
      <div class="col-6" style="display: inline-block;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <b>Toutes : </b> x{{reports['global'].shipments_count}} | {{"%.2f"|format(reports['global'].shipments_sum)}}€
          </li>
          <li class="list-group-item">
            <b>Annulées: </b> x{{reports['global'].canceled_count}}  | {{"%.2f"|format(reports['global'].canceled_sum)}}€
          </li>
          <li class="list-group-item">
            <b>Effectives: </b> x{{reports['global'].effective_count}}  | {{"%.2f"|format(reports['global'].effective_sum)}}€
          </li>
          <li class="list-group-item">
            <b>Payées : </b> x{{reports['global'].paid_count}}  | {{"%.2f"|format(reports['global'].paid_sum)}}€
          </li>
          <li class="list-group-item">
            <b>Abonnement : </b> x{{reports['global'].in_sub_count}}  | {{"%.2f"|format(reports['global'].in_sub_sum)}}€
          </li>
          <li class="list-group-item">
            <b>Hors Abonnement : </b> x{{reports['global'].out_sub_count}}  | {{"%.2f"|format(reports['global'].out_sub_sum)}}€
          </li>
        </ul>
      </div>
    </div>
  </div>




  {%if customer.nb_subscriptions | int > 0 %}
  <subscription-list customer_id='{{customer.id}}'></subscription-list>
  {%endif%}

  <div class="card">
    <div class="card-header text-white bg-info">
      Suppression <span class="float-right"><a href="/customers/delete/{{ customer.id }}"
        class="btn btn-light text-danger" alt="Supprimer"><i class="fas fa-trash-alt"></i></a></span>
    </div>
  </div>

{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='tag/customers/shipment_list.tag') }}" type="riot/tag"></script>
<script src="{{ url_for('static', filename='tag/customers/subscription_list.tag') }}" type="riot/tag"></script>
<script>
  riot.mount("shipment-list");
  riot.mount("subscription-list");
</script>
{% endblock %}
