
{% extends "layout.html" %}
{% block content %}
    <h1>Formulaire de suppression de Client</h1>
    <div class="content-section">
        <p>Référence : {{customer.id}}</p>
        <p>{{customer.firstname}} {{customer.lastname}}</p>
    </div>
    <div class="content-section">
            Etes-vous sûr de vouloir supprimer ce client ?
    </div>
    <div class="content-section">
        <table>
            <tr>
                <td>
                    <button type="button" onclick="delete_customer({{customer.id}})" class="btn btn-danger">Supprimer</button>
                </td>
                <td>
                    <button class="btn btn-secondary" type="cancel" onclick="javascript:window.location='/customers';">Annuler</button>
                </td>
            </tr>
        </table>  
    </div>    
{% endblock %}

{% block scripts %} 

    <script>
        function delete_customer(customer_id) {

            $.ajax({
                type: "DELETE",
                url: '/customers/' + customer_id,
                success: function(msg){
                    location.href = "/customers";
                }
            });
        };
    </script>
{% endblock %}
        





