{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="" style="display: inline;">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
            <legend class="=border-bottom mb-4"></legend>
            <div class="form-group">
                Choix du client :
                <select class="form-control" name="customer_id" width="300px">
                    {% for customer in customers %}
                    {% if loop.index == 1 %}
                    <option value="{{ customer.id }}" SELECTED>{{ customer.firstname }} {{ customer.lastname }}</option>
                    {% endif %}
                    <option value="{{ customer.id }}">{{ customer.firstname }} {{ customer.lastname }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" id="subscription_id" name="subscription_id" ref="subscription_id" value={{subscription_id}} />
            </div>
            

            <div class="form-group">
                Saisie de la date de début :
                <input type="text" name="start_dt" id="datepicker_start" data-language='fr' class="form-control datepicker-input" />
            </div>

            <div class="form-group">
                Saisie de la date de fin :
                <input type="text" name="end_dt" id="datepicker_end" data-language='fr'  class="form-control datepicker-input"/>
            </div>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            {% if form.errors %}
                <ul class="errors">
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <li>{{ form[field_name].label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(function () {
        $("#datepicker_start").datepicker(
            {autoClose: true}
        );
        $("#datepicker_end").datepicker(
            {autoClose: true}
        );
    });
</script>
{% endblock %}
