
{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <p>Référence : {{seller.id}}</p>
        <p>{{seller.name}} - {{seller.email}}</p>
    </div>
    <div class="content-section">
            Etes-vous sûr de vouloir supprimer ce vendeur ?
    </div>
    <div class="content-section">
        <table>
            <tr>
                <td>
                    <button type="button" onclick="delete_seller({{seller.id}})" class="btn btn-danger">Supprimer</button>
                </td>
                <td>
                    <button class="btn btn-secondary" type="cancel" onclick="javascript:window.location='/sellers';">Annuler</button>
                </td>
            </tr>
        </table>  
    </div>    
{% endblock %}

{% block right_menu %}
<div class="content-section">
    <h3>Our Sidebar</h3>
    <p class='text-muted'>
        <ul class="list-group">
        <li class="list-group-item list-group-item-light">
                <a class="nav-link" href="/sellers/new">Création de vendeur</a></li>
        <li class="list-group-item list-group-item-light">Calendars</li>
        <li class="list-group-item list-group-item-light">etc</li>
        </ul>
    </p>
</div>
{% endblock %}
{% block scripts %} 

    <script>
        function delete_seller(seller_id) {

            $.ajax({
                type: "DELETE",
                url: '/sellers/' + seller_id,
                success: function(msg){
                    location.href = "/sellers";
                }
            });
        };
    </script>
{% endblock %}
        





