
{% extends "layout.html" %}
{% block content %}
<br>
<br>
<br>
<div class="row" >
  <div class="col-xl-3 col-sm-6 mb-3">
    <div class="card text-white bg-primary o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fas fa-fw fa-address-card"></i>
        </div>
        <div class="mr-6">{{customers_nb}} Clients</div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="/customers">
        <span class="float-left">View Details</span>
        <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-3">
    <div class="card text-white bg-warning o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fas fa-fw fa-list"></i>
        </div>
        <div class="mr-6">{{products_nb}} Produits</div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="/products">
        <span class="float-left">View Details</span>
        <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-3">
    <div class="card text-white bg-success o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fas fa-fw fa-list"></i>
        </div>
        <div class="mr-6">{{sellers_nb}} Vendeurs</div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="/sellers">
        <span class="float-left">View Details</span>
        <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
</div>
<div class="row" >
  <div class="col-xl-3 col-sm-6 mb-3">
    <div class="card text-white bg-dark o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fas fa-fw fa-list"></i>
        </div>
        <div class="mr-6">{{subscriptions_nb}} Abonnements</div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="/subscriptions">
        <span class="float-left">View Details</span>
        <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-3">
    <div class="card text-black bg-light o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fas fa-fw fa-calendar"></i>
        </div>
        <div class="mr-6">{{shipments_nb}} Livraisons</div>
      </div>
      <a class="card-footer text-black clearfix small z-1" href="/shipments">
        <span class="float-left">View Details</span>
        <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-3">
    <div class="card text-black bg-light o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fas fa-fw fa-calendar"></i>
        </div>
        <div class="mr-6">{{orders_nb}} Commandes</div>
      </div>
      <a class="card-footer text-black clearfix small z-1" href="/orders">
        <span class="float-left">View Details</span>
        <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
</div>
<div class="row" >
  <h4>Dernière modification : {{ moment(stat.updated_at, local=True).format('Do MMMM YYYY HH:mm:ss') }}  </h4>
</div>
    
{% endblock %}





