{% extends "layout.html" %}
{% block content %}


	<link rel="stylesheet" href="/static/style.css" type="text/css">


	 <form method="POST" action="" style="display: inline;">    
        {{ form.hidden_tag() }}
        <div class="form-group">
            username :
            {{ form.username(class="form-control form-control-sm") }}
        </div>
        <div class="form-group">
            password :
            {{ form.password(class="form-control form-control-sm") }}
        </div>

        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>

	</form>

{% endblock %}


