{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <form id="shipment_form" method="POST" action="" style="display: inline;">    
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
            <legend class="=border-bottom mb-4"></legend>
            <div class="form-group">
                Titre :
                {{ form.title(class="form-control form-control-sm") }}
            </div>
            <div class="form-group">
                Choix du client :
                <select class="form-control" name="customer_id" width="300px">
                    {% for customer in customers %}
                        {% if loop.index == 1 %}
                            <option value="{{ customer.id }}" SELECTED>{{ customer.firstname }} {{ customer.lastname }}</option>
                        {% endif %}    
                        <option value="{{ customer.id }}">{{ customer.firstname }} {{ customer.lastname }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                Saisie de la date de livraison :
                <input type="text" name="shipping_dt" id="datepicker_shipping" data-language='fr' class="form-control datepicker-input" />
            </div>
            <seller-product-line></seller-product-line>
            {% if form.errors %}
                <ul class="errors">
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <li>{{ form[field_name].label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
    </div>

{% endblock %}
{% block scripts %} 
<script src="{{ url_for('static', filename='tag/shipments/seller_product_lines.tag') }}" type="riot/tag"></script>
<script type="text/javascript">
    riot.mount("seller-product-line");
    $(function () {
        $("#datepicker_shipping").datepicker(
            {autoClose: true}
        );
    });
</script>
{% endblock %}
