{% extends "layout.html" %}

{% block content %}

    <div class="content-section">
        <form method="POST" action="" style="display: inline;">    
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
            <legend class="=border-bottom mb-4"></legend>
            <div class="form-group">
               Titre : {{ shipment.title }}
            </div>
            <div class="form-group">
                    client n° {{ shipment.customer }} : {{ shipment.customer_name }} 
            </div>
            <input type="hidden" name="shipping_dth" id="shipping_dth" value="{{ shipment.shipping_dt }}"/>
            <div class="form-group">
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <input type="text" name="shipping_dt" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            {% if form.errors %}
                <ul class="errors">
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <li>{{ form[field_name].label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
    </div>
{% endblock %}
{% block scripts %} 
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker(
            {
                format : 'DD/MM/YYYY HH:mm:ss',
                locale: 'fr',
                defaultDate : document.getElementById("shipping_dth").value
            }
        );
    });
</script>
{% endblock %}






 