{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            <span class="error">
                Liste des erreurs à corriger : <br>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flashes">
                        {% for message in messages %}
                        <li style='color:red;'>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </span>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
            <div class="form-group">
                {{ form.firstname.label(class="form-control-label") }}
                {{ form.firstname(class="form-control form-control-sm") }}
            </div>
            <div class="form-group">
                {{ form.lastname.label(class="form-control-label")}}
                {{ form.lastname(class="form-control form-control-sm")}}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label")}}
                {{ form.email(class="form-control form-control-sm")}}
            </div>
            <div class="form-group">
                    {{ form.username.label(class="form-control-label")}}
                    {{ form.username(class="form-control form-control-sm")}}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label")}}
                {{ form.password(class="form-control form-control-sm")}}
            </div>
            <div class="form-group">
                {{ form.confirm.label(class="form-control-label") }}
                {{ form.confirm(class="form-control form-control-sm") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock %}




