{% extends "layout.html" %}
{% block content %}


    <div class="card  ">
        <div class="card-header text-white bg-info">
            Client N° {{user.id}} 
            <span class="right"><a href="/users/update/{{ user.id }}/password" class="btn btn-outline-dark">Changer le mot de passe</a></span><span class="right"><a href="/users/update/{{ user.id }}" class="btn btn-outline-dark">Modifier</a></span>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% set total = {'value': 0.00} %}
                <li class="list-group-item">
                    <b>Login : </b>{{user.username}}
                </li>
                <li class="list-group-item">
                    <b>Prénom Nom : </b>{{user.firstname}} {{user.lastname}}
                </li>
                <li class="list-group-item">
                    <b>Role : </b> {{user.role_name}}
                </li>
                <li class="list-group-item">
                    <b>Email : </b> {{user.email}}
                </li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-header text-white bg-info">
            Suppression <span class="float-right"><a href="/users/delete/{{ user.id }}"
                    class="btn btn-light text-danger" alt="Supprimer"><i class="fas fa-trash-alt"></i></a></span>
        </div>
    </div>

{% endblock %}



