
{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <p>Référence : {{product.id}}</p>
        <p>Date {{product.name}}</p>
    </div>
    <div class="content-section">
            Etes-vous sûr de vouloir supprimer ce produit ?
        </div>
    <div class="content-section">
        <table><tr>
        <td>
            <button type="button" onclick="delete_product({{product.id}})" class="btn btn-danger">Supprimer</button>
        </td>
        <td><button class="btn btn-secondary" type="cancel" onclick="javascript:window.location='/orders';">Annuler</button></td>
        </tr></table>  
    </div>
    

{% endblock %}
{% block right_menu %}
<div class="content-section">
    <h3>Our Sidebar</h3>
    <p class='text-muted'>You can put any information here you'd like.
        <ul class="list-group">
        <li class="list-group-item list-group-item-light">
                <a class="nav-link" href="/products/new">Création de client</a></li>
        <li class="list-group-item list-group-item-light">Calendars</li>
        <li class="list-group-item list-group-item-light">etc</li>
        </ul>
    </p>
</div>
{% endblock %}

{% block scripts %} 

    <script>
        function delete_product(product_id) {

            $.ajax({
                type: "DELETE",
                url: '/products/' + product_id,
                success: function(msg){
                    location.href = "/products";
                }
            });
        };
    </script>
{% endblock %}
        
        





