{% extends "layout.html" %}
{% block content %}
    {% for product in products %}
    <div class="card border-dark mb-3" style="width: 40rem;">
        <div class="card-header">
            <span style="font-size: 1,8em;">
                    <i class="fas fa-shopping-basket "></i>
            </span>
            Référence : <span style="color:red">{{product.id}}</span>
            <span style="margin:auto;"><b> ----> {{ product.name }}</b></span>
        </div>        
        <div class="card-body">
            <h5 class="card-title"></h5>
            <h6 class="card-subtitle mb-2 text-muted">Prix : {{product.price }}€</h6>
            <p class="card-text"> Vendeur : {{product.vendor.name}} </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">
                <a href="/products/{{product.id}}" class="card-link">Détails</a>    
                <a href="/products/update/{{product.id}}" class="card-link">Modifier</a>
                <a href="/products/delete/{{product.id}}" class="card-link">Supprimer</a>
            </small>
        </div>
    </div>
    
    {% endfor %}
{% endblock %}
{% block right_menu %}
<div class="content-section">
    <h3>Menu des produits</h3>
    <p class='text-muted'>You can put any information here you'd like.
        <ul class="list-group">
        <li class="list-group-item list-group-item-light">
                <a class="nav-link" href="/products/new">Création de produit</a></li>
        <li class="list-group-item list-group-item-light">
                <a class="nav-link" href="/orders/month/0">Commandes du mois</a></li>
        </ul>
    </p>
</div>
{% endblock %}
