{% extends "layout.html" %}
{% block content %}

    <div class="card  ">
        <div class="card-header text-white bg-info">
            Produit N° {{product.id}} du Vendeur {{seller.name}} <span class="right"><a href="/products/update/{{ product.id }}"
                    class="btn btn-outline-dark">Modifier
                </a></span>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% set total = {'value': 0.00} %}
                <li class="list-group-item">
                    <b>Nom : </b>{{product.name}}
                </li>
                <li class="list-group-item">
                    <b>Prix : </b> {{product.price}}
                </li>
                <li class="list-group-item">
                    <b>Description : </b> {{product.description}}
                </li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-header text-white bg-info">
            Suppression <span class="float-right"><a href="/products/delete/{{ product.id }}"
                    class="btn btn-light text-danger" alt="Supprimer"><i class="fas fa-trash-alt"></i></a></span>
        </div>
    </div>
{% endblock %}

