{% extends "layout.html" %}

{% block content %}

    <div class="content-section">
        <form method="POST" action="" style="display: inline;">    
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
            <legend class="=border-bottom mb-4"></legend>
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {{ form.name(class="form-control form-control-sm") }}
            </div>
            <div class="form-group">
                {{ form.price.label(class="form-control-label")}}
                {{ form.price(class="form-control form-control-sm")}}
            </div>
            <div class="form-group">
                {{ form.description.label(class="form-control-label")}}
                {{ form.description(class="form-control form-control-sm")}}
            </div>
            <div class="form-group">
                Choix du vendeur :
                <select class="form-control" id="vendor_id" name="vendor_id">
                    {% for vendor in vendors %}
                        {% if vendor.id == form.vendor_id.data %}
                            <option value="{{ vendor.id }}" SELECTED>{{ vendor.name }}</option>
                        {% else %}
                            <option value="{{ vendor.id }}" >{{ vendor.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" name="status" width="300px">
                    {% for productStatus in productStatusList %}
                        {% if(productStatus == form.status.data) %}
                            <option value="{{ productStatus }}" SELECTED>{{ productStatus }}</option>
                        {% else %}
                            <option value="{{ productStatus }}" >{{ productStatus }}</option>
                        {% endif %}    
                    {% endfor %}
                </select>
            </div>
 
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            {% if form.errors %}
                <ul class="errors">
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <li>{{ form[field_name].label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
    </div>
{% endblock %}
{% block scripts %} 
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker(
            
            {format : 'YYYY-MM-DD HH:mm:ss',
        defaultDate : document.getElementById("delivery_dth").value}
        );
    });
</script>
<script src="{{ url_for('static', filename='js/product-list.js') }}"></script>
{% endblock %}






 