{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="" style="display: inline;">    
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
            <legend class="=border-bottom mb-4"></legend>
            <div class="form-group">
                Titre :
                {{ form.title(class="form-control form-control-sm") }}
            </div>
            <div class="form-group">
                Choix du client :
                <select class="form-control" name="customer_id" width="300px">
                    {% for o in customers %}
                        <option value="{{ o.id }}" SELECTED>{{ o.firstname }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                Choix de l'état de la commande :
                <select class="form-control" name="status" width="300px">
                    {% for orderStatus in orderStatusList %}
                        {% if(orderStatus == "EN COURS") %}
                            <option value="{{ orderStatus }}" SELECTED>{{ orderStatus }}</option>
                        {% else %}
                            <option value="{{ orderStatus }}" >{{ orderStatus }}</option>
                        {% endif %}    
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                Saisie de la date de la commande :
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <input type="text" name="order_dt" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                Choix du produit à ajouter à la commande
                <div data-toggle="fieldset" id="product-fieldset">
                    <input type="hidden" name="row_nb" id="row_nb" value=0 />
                    <table width="50%">
                        <tr>
                            <td>
                                <select class="form-control" id="product_id" name="product_id">
                                {% for o in products %}
                                    <option value="{{ o.id }}" SELECTED>{{ o.name }} - {{ o.price }} </option>
                                {% endfor %}
                                </select>
                            </td>
                            <td>
                                <button type="button" id="more_fields" onclick="add_fields();" class="btn btn-primary" ><i class="fa fa-plus"></i></button>
                                
                            </td>
                        </tr>
                    </table>
    
                    <table id="tab_qn_ans" width="100%">
                        <tr>
                            <th width="20%">id</th>
                            <th width="35%">nom</th>
                            <th width="30%">quantité</th>
                            <th width="30%">prix</th>
                            <th width="10%"></th>
                        </tr>
                        
                    </table>
                </div>
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            {% if form.errors %}
                <ul class="errors">
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <li>{{ form[field_name].label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
    </div>
{% endblock %}
{% block scripts %} 
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker(
            {format : 'YYYY-MM-DD HH:mm:ss'}
        );
    });
</script>
<script src="{{ url_for('static', filename='js/product-list.js') }}"></script>
{% endblock %}






 