{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="" style="display: inline;">    
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
            <legend class="=border-bottom mb-4"></legend>
            <div class="form-group">
                Titre :
                {{ form.title(class="form-control form-control-sm") }}
            </div>
            <div class="form-group">
                Choix du client :
                <select class="form-control" name="customer_id" width="300px">
                    {% for o in customers %}
                        <option value="{{ o.id }}" SELECTED>{{ o.firstname }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                Choix de l'état de la commande :
                <select class="form-control" name="status" width="300px">
                    {% for orderStatus in orderStatusList %}
                        {% if(orderStatus == "CREE") %}
                            <option value="{{ orderStatus }}" SELECTED>{{ orderStatus }}</option>
                        {% else %}
                            <option value="{{ orderStatus }}" >{{ orderStatus }}</option>
                        {% endif %}    
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                Saisie de la date de la commande :
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <input type="text" name="shipping_dt" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            <my-select></my-select>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            {% if form.errors %}
                <ul class="errors">
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <li>{{ form[field_name].label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
    </div>

{% endblock %}
{% block scripts %} 
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker(
            {
                format : 'DD/MM/YYYY HH:mm:ss',
                locale: 'fr'
            }

        );
    });
</script>
<script src="{{ url_for('static', filename='js/product-list.js') }}"></script>


{% endblock %}






 