
{% extends "layout.html" %}
{% block content %}
    <h1>Commande</h1>
    <div class="content-section">
        <p>Référence : {{order.id}} - Titre {{order.title}}</p>
        <p>Commande créée le : {{order.order_dt}}</p>
    </div>
    <div>
        <h3>Livraison</h3>
    </div>
        <p>Date de livraison {{order.delivery_dt}}</p>
    <div>
        <h3>Liste des produits de la commande</h3>
    </div>
    <div class="content-section">
        {% for product in order.selected_products %}
            <p>Désignation : {{product.name}} - prix : {{product.price}} € - quantité : 
                    {% for product_order in bought_items %}
                        {% if product_order.product_id == product.id %}
                           X {{product_order.quantity}}
                        {% endif%}
                    {% endfor %}
            </p>
        {% endfor %}
    </div>
    <div>
        <h3>Liste des commandes vendeur</h3>
    </div>
    <div class="content-section">
        {% for vendorOrder in order.vendorOrders %}
            <p><b>Commande n° {{vendorOrder.id}} </b> pour le vendeur n° {{vendorOrder.vendor.id}} - nom : {{vendorOrder.vendor.name}}</p>
            <p> ---- statut de la commande vendeur : {{vendorOrder.status}}</p>
        {% endfor %}
    </div>

    
{% endblock %}
{% block right_menu %}
<div class="content-section">
    <h3>Our Sidebar</h3>
    <p class='text-muted'>You can put any information here you'd like.
        <ul class="list-group">
        <li class="list-group-item list-group-item-light">
                <a class="nav-link" href="/customers/new">Création de client</a></li>
        <li class="list-group-item list-group-item-light">
                <a class="nav-link" href="/customers/city/Langlade">Clients de Langlade</a></li>
        <li class="list-group-item list-group-item-light">Calendars</li>
        <li class="list-group-item list-group-item-light">etc</li>
        </ul>
    </p>
</div>
{% endblock %}






