
{% extends "layout.html" %}
{% block content %}

  <table align="center">
    <tr>
      <td valign="center">Actions sur la commande</td>
    </tr>
    <tr>
      <td>
        <a href="/orders/update/{{ order.id }}/annulation" class="btn btn-outline-dark" >Annuler Commande </a>
        <a href="/orders/update/{{ order.id }}/created" class="btn btn-outline-dark" >Créée </a>
        <a href="/orders/update/{{ order.id }}/paid" class="btn btn-outline-dark">Payée</a>
        <a href="/orders/update/{{ order.id }}/delivered" class="btn btn-outline-dark">Livrée</a>
        <a href="/orders/update/{{ order.id }}/time" class="btn btn-outline-dark">Date livraison</a>
      </td>
    </tr>
  </table>

<br>
<br>
    <div class="card  " >
        <div class="card-header text-white bg-info">
                Commande N° {{order.id}} - {{order.customer_name}} <span class="right">{{ order.shipping_dt }}</span>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
          {% set total = {'value': 0.00} %}

          <li class="list-group-item bg-light">
            Vendeur : <b>{{order.seller_name}}</b>
          </li>
          <li class="list-group-item">

            <table align="center" class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Produit</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix</th>
              </tr>
            </thead>
            <tbody>
          {% for line in order.lines %}
              <tr>
                <td valign="center">{{line.product_name}}</td>
                <td valign="center">x {{line.quantity}}</td>
                <td valign="center">{{line.price}} €</td>
              </tr>
          {% endfor %}
          </tbody>
          </table>
          </li>

          <li class="list-group-item">
                <b><span style="float: right">Nb articles : {{order.nb_products}} - Prix Total : {{ "%.2f"|format(order.price|float) }}€</span></b>
          </li>
          <li class="list-group-item">
                <b><span style="float: right">Prix de la livraison : {{order.shipping_price}} €</span></b>
                <br>
                <p><b>Règles de calcul : {{order.shipping_rules}}</b> </p>
          </li>
        </ul>

        </div>

      </div>

      <br>
      <div class="card">
          <div class="card-header text-white bg-info">
                  Livraison
          </div>
          <div class="card-body">
            <h5 class="card-title">Date de livraison {{ order.shipping_dt }}</h5>
            <p class="card-text">Adresse  :  {{ order.shipping_address }} {{ order.shipping_cp }} {{ order.shipping_city }}</p>
          </div>

        </div>
        <br>

{% endblock %}
{% block right_menu %}
{% endblock %}
